.main{
    padding: 1em;
}

.headers{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-transform: uppercase;
}

.headers p{
    font-size: 12px;
    padding-bottom: 1em;
    opacity: 60%;
}

.projectsContainer {
    display: flex;
    flex-direction: column;
  }
  
  .projectItem {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 1px solid #ccc;
    transition: 0.3s;
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow: hidden;
    z-index: 0;
    position: relative;
    transition: color 0.3s ease-in-out;
}


.projectName {
    grid-column: 1;
    transition: transform 0.3s ease;
  }
  
  .projectCategory {
    grid-column: 2;
    justify-self: start;
  }
  
  .projectClient {
    grid-column: 3;
    padding-left: 200px;
  }
  
  .projectYear {
    grid-column: 4;
    justify-self: end;
    transition: transform 0.3s ease;
  }
  
  .projectItem::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--foreground);
    z-index: -1; /* Place the pseudo-element behind the content */
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
  }
  
  .projectItem:hover::before {
    transform: translateY(0);
  }

  .projectItem:hover {
    color: var(--background); /* Change font color on hover */
  }
  

  .projectItem:hover .projectName{
    transform: translateX(10px);
  }

  .projectItem:hover .projectYear{
    transform: translateX(-10px);
  }

  @media (max-width: 1024px) {
  .headers{
    grid-template-columns: repeat(2, 1fr);
  }
  .projectCategory, .projectClient{
    display: none;
  }
  .projectItem {
    grid-template-columns: auto 1fr;
  }

  .projectName {
    grid-column: 1;
  }

  .projectYear {
    grid-column: 2;
    justify-self: end;
  }
}