.main {  
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: auto auto auto 1fr; /* Adjusted to ensure proper row structure */
  padding: 3rem;
  height: 100vh;
  font-weight: 200;
}

.nav {
  position: relative;
  grid-column: 1 / -1; /* Span all columns */
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  font-size: 20px;
  text-decoration: none;
}

.name {
  grid-column: 1 / 2; /* First column */
  animation: blink 5s infinite;
}

.name:hover {
  opacity: 1;
  animation-play-state: paused;
}

@keyframes blink {
  1%, 3%, 5%, 7% {
    opacity: 0.5;
  }
  0%, 2%, 4%, 6%, 8% {
    opacity: 1;
  }
}

.title {
  grid-column: 2 / 3; /* Second column */
}

.info, .projects, .more {
  grid-column: 2 / 3; /* Place in the second column */
  margin-top: 4rem; /* Add margin to the top of each item */
  padding-top: 1em;
  font-size: 20px;
}

.info {
  grid-row: 2; /* Place in the second row */
}

.projects {
  grid-row: 3; /* Place in the third row */
  margin-top: 5em;
}

.projectWrapper {
  display: grid;
}

.project {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  padding-top: 2px;
  padding-bottom: 2px;
  transition: transform 0.2s ease;
}

.projectName {
  position: relative;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.arrow {
  position: absolute;
  left: -15px; /* Adjust this value to position the arrow */
  top: 50%; /* Center the arrow vertically */
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background-color: var(--foreground); /* Adjust the color as needed */
  clip-path: polygon(100% 50%, 0 0, 0 100%);
  display: none; /* Initially hide the arrow */
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateX(-2px) translateY(-50%);
  }
  50% {
    transform: translateX(2px) translateY(-50%);
  }
}

.wrapper {
  position: relative;
}

.wrapper:hover .arrowNav {
  animation: bounceAndDisappear 1s ease infinite;
}

.arrowNav {
  position: absolute;
  left: -20px; /* Adjust this value to position the arrow */
  top: 50%; /* Center the arrow vertically */
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background-color: var(--foreground); /* Adjust the color as needed */
  clip-path: polygon(100% 50%, 0 0, 0 100%);
  z-index: 10;
}

@keyframes bounceAndDisappear {
   10%, 110% {
    transform: translateX(-2px) translateY(-50%);
  }
  60%{
    transform: translateX(2px) translateY(-50%);
  }
}

.project:hover .arrow {
  display: block; /* Show the arrow on hover */
}

.project:hover .projectName {
  transform: translateX(5px); /* Adjust the translation amount as needed */
}

.projectWrapper:hover .project:not(:hover) {
  opacity: 0.5; /* Reduce opacity for non-hovered project names */
}

.moreWrapper:hover a:not(:hover) {
  opacity: 0.5; /* Reduced opacity for other links when one is hovered */
}

.moreWrapper{
    display: grid;
}

.more {
  grid-row: 4; /* Place in the last row */
  align-self: end; /* Align to the end of the grid row */
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
}

.header{
  padding-bottom: 2em;
  opacity: 50%;
}

.customDiv {
  grid-column: 3 / 4; /* Place in the third column */
  grid-row: 2 / span 2; /* Span rows from the second row to the fourth row */
  margin-top: 2em; /* Adjust margin as needed */
  align-items: center;
  overflow: hidden; /* Ensure the clipped image does not overflow */
  position: relative; /* Required for absolute positioning of image */
}

.customDiv img {
  position: absolute; /* Position the image absolutely within .customDiv */
  top: 0%;
  left: 0%;
  width: 100%; /* Ensure the image takes full width of .customDiv */
  height: 100%; /* Maintain aspect ratio */
  transition: clip-path 1s ease; /* Smooth transition for clip-path change */
  clip-path: polygon(49% 49%, 51% 49%, 51% 51%, 49% 51%);
  object-fit: contain;
}

.customDiv .revealTrigger {
  position: absolute;
  top: 49%;
  left: 49%;
  width: 2%;
  height: 2%;
  z-index: 10;
}

.customDiv .revealTrigger:hover ~ img {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); /* Full image revealed on hover */
}

@media (min-width: 1024px){
  .project:hover .image {
    display: block; /* Show the arrow on hover */
  }  
}

/* Mobile styles (hide the last two columns) */
@media (max-width: 1024px) {
  .main {
    grid-template-columns: 1fr; /* Single column layout */
  }

  .customDiv {
    display: none; /* Hide the image column */
  }

  .nav {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align items to the left */
    padding-bottom: 4em;
  }

  .name, .title {
    display: block; /* Change to block for proper alignment */
    margin: 0; /* Remove any default margins */
    text-align: left; /* Align text to the left */
  }

  .title {
    margin-top: 0.5rem; /* Add a bit of space between name and title */
  }

  .info, .projects, .more {
    grid-column: 1 / -1; /* Span the entire column */
    margin-top: 1rem; /* Adjust margin for spacing */
    padding-top: 1rem; /* Adjust padding for spacing */
  }
}
