.main {  
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: auto auto auto 1fr; /* Adjusted to ensure proper row structure */
  padding: 1rem;
  height: 100vh;
  font-weight: 200;
}

.info, .projects, .more {
  grid-column: 2 / 3; /* Place in the second column */
  margin-top: 5rem; /* Add margin to the top of each item */
  font-size: 20px;
}

@keyframes bounceAndDisappear {
   10%, 110% {
    transform: translateX(-2px) translateY(-50%);
  }
  60%{
    transform: translateX(2px) translateY(-50%);
  }
}

.info {
  grid-row: 2; /* Place in the second row */
  position: relative;
}

.button {
  display: inline-flex;
  align-items: center;
  position: relative;
  margin-top: 0.5em;
  opacity: 50%;
  transition: transform 0.3s ease-in-out;
}

.buttonText{
  transition: transform 0.3s ease-in-out;
}

.buttonArrow {
  transition: transform 0.3s ease-in-out;
}

.button:hover{
  opacity: 100%;
}

.button:hover .buttonText {
  transform: translateX(2px);
}

.button:hover .buttonArrow {
  transform: rotate(45deg); /* Immediate transform to match the final state of the animation */
  animation: none;
}

.projects {
  grid-row: 3; /* Place in the third row */
  margin-top: 5em;
}

.projectWrapper {
  display: grid;
}

.project {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  padding-top: 2px;
  padding-bottom: 2px;
  transition: transform 0.2s ease;
}

.projectName {
  position: relative;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.arrow {
  position: absolute;
  left: -15px; /* Adjust this value to position the arrow */
  top: 50%; /* Center the arrow vertically */
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background-color: var(--foreground); /* Adjust the color as needed */
  clip-path: polygon(100% 50%, 0 0, 0 100%);
  display: none; /* Initially hide the arrow */
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateX(-2px) translateY(-50%);
  }
  50% {
    transform: translateX(2px) translateY(-50%);
  }
}

.wrapper {
  position: relative;
}

.wrapper:hover .arrowNav {
  animation: bounceAndDisappear 1s ease infinite;
}

.arrowNav {
  position: absolute;
  left: -20px; /* Adjust this value to position the arrow */
  top: 50%; /* Center the arrow vertically */
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background-color: var(--foreground); /* Adjust the color as needed */
  clip-path: polygon(100% 50%, 0 0, 0 100%);
  z-index: 10;
}

@keyframes bounceAndDisappear {
   10%, 110% {
    transform: translateX(-2px) translateY(-50%);
  }
  60%{
    transform: translateX(2px) translateY(-50%);
  }
}

.project:hover .arrow {
  display: block; /* Show the arrow on hover */
}

.project:hover .projectName {
  transform: translateX(5px); /* Adjust the translation amount as needed */
}

.projectWrapper:hover .project:not(:hover) {
  opacity: 0.5; /* Reduce opacity for non-hovered project names */
}

.moreWrapper:hover a:not(:hover) {
  opacity: 0.5; /* Reduced opacity for other links when one is hovered */
}

.moreWrapper{
    display: grid;
}

.more {
  grid-row: 4; /* Place in the last row */
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  margin-top: 5em;
}

.header{
  padding-bottom: 2em;
  opacity: 50%;
}

@media (min-width: 1024px){
  .project:hover .image {
    display: block; /* Show the arrow on hover */
  }  
}

/* Mobile styles (hide the last two columns) */
@media (max-width: 1024px) {
  .main {
    grid-template-columns: 1fr; /* Single column layout */
  }

  .customDiv {
    display: none; /* Hide the image column */
  }

  .name, .title {
    display: block; /* Change to block for proper alignment */
    margin: 0; /* Remove any default margins */
    text-align: left; /* Align text to the left */
  }

  .title {
    margin-top: 0.5rem; /* Add a bit of space between name and title */
  }

  .info, .projects, .more {
    grid-column: 1 / -1; /* Span the entire column */
  }

  .info, .projects, .more {
    margin-top: 3rem; /* Add margin to the top of each item */
  }
}
